.popup__container {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  padding: 36px 34px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .popup__container {
    min-height: 322px;
    padding: 25px 22px;
    margin: 0 20px;
  }
}
