.header {
  position: relative;
  padding-top: 45px;
  padding-bottom: 41px;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: rgba(54, 54, 54, 0.7);
}

@media (max-width: 767px) {
  .header::before {
    left: -19px;
    right: -19px;
  }

  .header {
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
