.popup__submit {
  /* это кнопка, в ней нет динамического контента, по макету она имеет фикс.высоту */
  height: 50px;
  border: none;
  color: #ffffff;
  background-color: #000000;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__submit {
    height: 46px;
  }
}
